@font-face {
  font-family: 'MunchFont';
  src: url('./GirottMunch-BoldBackslant.ttf') format('truetype');
}


body {
    background-color: #000000;
  }

  .imageText {
    position: relative;
    color: #9b8250;
  }
  
  .overlayText {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }
  
  

  

.chooseArtHeader{
  font-family: 'MunchFont';
  font-size: 4rem;
  margin: 2rem;
  color: #fe390f;
}
  
  .container {
    color: #fe390f;
    text-align: center;
    font-size: 5vw;
    font-family: 'MunchFont';
    margin: 0rem;
  }
  
  .imageContainer {
    background-color: #9b8250;
    height: 88.3vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
  }



  .image-container {
  background-color: #9b8250;
  height: 88.3vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}
  
  img {
    width: 35vw;
    height:25vh;
    object-fit: cover;
    border-radius: 11%;
    box-shadow: 0 0 45px rgb(0, 0, 0) !important;
  }

  .chooseImage {
    border-radius: 20px !important;
  }
  
 

  h1{
    font-size: 100px;
    margin: 2rem;
  }