body {
    background-color: #000000;
  }
  
  .header {
    color: #ffff;
    text-align: center;
    font-size: 5vw;
    font-family: 'MunchFont', Arial, sans-serif;
    text-shadow: none;
  }
  
  .image-container {
    background-color: #9b8250;
    height: 88.3vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
  }
  
  img {
    width: 43vw;
    height: 25vh;
    border-radius: 11%;
    box-shadow: 0 0 45px rgb(0, 0, 0);
  }
  
  @font-face {
    font-family: 'MunchFont';
    src: url('./GirottMunch-BoldBackslant.ttf') format('truetype');
  }

  h1{
    font-size: 100px;
    text-shadow: none;
  }
