@font-face {
  font-family: 'CustomFont';
  src: url('./GirottMunch-BoldBackslant.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal; 
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #0f2335;
}

.title {
  color: white;
  position: absolute;
  top: 15%;
  font-size: 40px;
  font-family: 'CustomFont';
}

.joinText {
  color: white;
  margin-bottom: 10px;
  font-size: 20px;
  position: absolute;
  left: 23%; 
  top: 40%;
}  

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  height: 100%;
}


.inputField {
  max-width: 70%;
  width: 100%; 
  height: 35px;
  margin-bottom: 20px;
  border-radius: 10px; 
}


.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.backButton {
  font-size: 20px;
  position: absolute;
  bottom: 10vh;
  left: 20%;
  transform: translateX(-50%);
  padding: 15px 30px;
  background-color: #194641;
  color: #fff;
  border: none;
  border-radius: 10px;
  text-decoration: none;
}

.joinButton {
  font-size: 20px;
  position: absolute;
  bottom: 10vh;
  left: 80%;
  transform: translateX(-50%);
  padding: 15px 30px;
  background-color: #fe390f;
  color: #fff;
  border: none;
  border-radius: 10px;
  text-decoration: none;
}
