.leaderboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0f2335;
  }
  
  
  .leaderboard-box {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .leaderboard-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .friends-box {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* Add some space between the leaderboard and friends box */
  }
  
  .friends-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  
  .leaderboard-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 8px;
    text-align: left;
  }
  
  th {
    font-weight: bold;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  