@font-face {
  font-family: 'MyFont';
  src: url('./GirottMunch-BoldBackslant.ttf') format('truetype');
}

.container {
  background-color: #0f2335;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.title {
  color: #ffffff;
  margin-top: 3%;
  text-shadow: none;
  font-family: sans-serif;
}

.centerImage {
  max-width: 100%;
  max-height: 50vh;
  width: 100vw;
  margin: 20px 0;
  margin-bottom: 30%;
  box-shadow: none !important;
}


.user-Title {
  position: relative;
  bottom: 5vh; 
  font-family: 'MyFont';
}

.readyButton {
  font-size: 5vw;
  position: absolute;
  bottom: 23vh;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 30px;
  background-color: #fe390f;
  color: #ffff;
  border: none;
  border-radius: 10px;
  text-decoration: none;
}

.nextButtonStyle {
  font-size: 5vw;
  position: absolute;
  bottom: 3vh; 
  left: 80%;
  transform: translateX(-50%);
  padding: 15px 30px;
  background-color: #fe390f;
  color: #ffff;
  border: none;
  border-radius: 10px;
  text-decoration: none;
}

.container > .player {
  position: relative;
  bottom: 6vh;
  color: white;
  font-family: sans-serif;
  margin-top: 1vh; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50vw;
  
} 

.status {
  padding: 1vh;
  border-radius: 10px;
  font-size: 2vw;
  margin-left: 1vw;
  width: 12vw;
  text-align: center;
}

.status_ready {
  background-color: #194641;
  color: white;
}

.status_waiting {
  background-color: white;
  color: black;
}

.readyButtonClicked {
  font-size: 5vw;
  position: absolute;
  bottom: 23vh;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 30px;
  background-color: #194641;
  color: #ffff;
  border: none;
  border-radius: 10px;
  text-decoration: none;
}

.warning {
  color: red;
  position: absolute;
  bottom: 15vh; 
  left: 50%;
  transform: translateX(-50%);
  font-size: 3vw;
  padding: 15px;
  text-align: center;
}
